.framework {
    background-color:hotpink
}

h1 {
    color:indigo;
    font-weight: bolder;
}

body {
    background-color:aqua;
    margin: 35px 0px;
}

.save-button {
   display: block;
   margin: 0 auto;
}








